**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
data-node
meili_data*

docs

# Include specific config files for Railway
!librechat.yaml
!railway.json

# Ignore all other hidden files
.*
